.Outer {
  min-width: 44%;
  max-width: 44%;
  display: flex;
  flex-direction: column;
}

.Outer h2 {
  text-align: center;
  margin: 8px 0 10px 0;
  padding: 4px 0;
  border-radius: 8px;
  background-color: RGBA(229, 245, 163, 0.4);
  box-shadow: 4px 4px 4px RGB(229, 245, 163, .25);
}

.MonthContainer {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
}

.MonthContainer img {
  width: 300px;
  height: 120px;
  margin: 0 8px 15px 5px;
  border-radius: 20px;
}

.InfoContainer {
  text-align: left;
  margin-left: 10px;
  font-size: .95rem;
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 12px;
}

.InfoContainer p {
  margin: 0;
  color: RGB(6, 20, 57, 0.95);
  font-size: 1.35rem;
}


