.OuterDiv {
  min-width: 33%;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.OuterDiv h3 {
  background-color: RGBA(255, 186, 170, 0.2);
  margin: 8px 0 10px 0;
  padding: 4px 0;
  border-radius: 8px;
  box-shadow: 4px 4px 4px RGB(255, 186, 170, .1);
}

.InnerDiv {
  display: flex;
  margin: 5px 11px;
  padding: 10px 11px;
  justify-content: space-around
}

.BookContainer img {
  height: 280px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px RGB(255, 186, 170, .4);
}

.RightBlock {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.RightBlock p {
  text-align: center;
  font-weight: 700;
  font-size: 1.06rem;
  margin-bottom: 5px;
}

.ComposerContainer img {
  height: 140px;
  width: 140px;
  border-radius: 100px;
  border: 5px solid RGBA(255, 186, 170, 0.25);
  box-shadow: 5px 5px 5px RGB(255, 186, 170, .4);
}

