.TimeMonth h1 {
  border-radius: 15px;
  margin: 10px 11px;
  padding: 10px 0;
  background-color: RGBA(229, 245, 163, 0.65);
}

.TimeMonthContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

