.Outer {
  display: flex;
  flex-direction: column;
  min-width: 48%;
  height: 240px;
  padding: 0 0 26px 0;
  margin: 0;
}

.Outer h2 {
  background-color: RGBA(255, 186, 170, 0.3);
  margin: 8px 0 10px 0;
  padding: 4px 0;
  border-radius: 8px;
}

.Box {
  display: flex;
  width: 100%;
}

.Box img {
  border-radius: 100px;
}

.InnerLeft {
  width: 200px;
  text-align: center;
}

.InnerRight {
  padding-top: 0;
  font-weight: 700;
  font-size: 1.06rem;
  text-align: left;
}

.InnerRight p {
  padding-left: 10px;
}
